.home {
  background: #000;
  color: #e6f4f6;
  font-family: "Segoe UI", sans-serif;
}

/* HERO */

.hero {
  height: 90vh;
  
  background: radial-gradient(
    circle at center,
    rgb(4, 54, 61) 0%,
    rgba(0, 0, 0, 1) 70%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: row;
 
}
.robot-gif{
    width: 400px;
    height: 400px;
    margin-left: -10px;
  animation: floatUpDown 1s ease-in-out infinite;
}
.hero h1 {
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.hero p {

  margin: 15px 0;
  font-size: 1.2rem;
}

.hero-content {
  height: 300px;
  width: 650px;
  border-radius: 99px;
  margin-left: -70px;
  background:
    linear-gradient(rgb(4, 54, 61), #000) padding-box,
    linear-gradient(135deg, #0bd3c7, #053f48) border-box;

  border: 2px solid transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: floatUpDown 1.5s ease-in-out infinite;
}
@keyframes floatUpDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}
.cta-btn {
  padding: 12px 25px;
  border: none;
  background: #0bd3c7;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

/* QUICK NAV */
.quick-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  padding: 50px;
}

.nav-card {
  background: linear-gradient(145deg, #053f48, #000);
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-card:hover {
  transform: translateY(-5px);
}

/* HIGHLIGHTS */
.highlights {
  padding: 60px;
  text-align: center;
}

.highlight-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.highlight-card {
  background: #021c20;
  padding: 25px;
  border-radius: 10px;
  min-width: 200px;
}

/* EVENT */
.event {
  padding: 60px;
  text-align: center;
}

.event-card {
  background: radial-gradient(circle, #053f48, #000);
  padding: 40px;
  border-radius: 15px;
}

/* ACHIEVEMENTS */
.achievements {
  padding: 60px;
  text-align: center;
}

.achievement-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.achievement-card {
  background: #032a30;
  padding: 20px;
  border-radius: 10px;
}

/* FOOTER */
.footer {
  padding: 30px;
  background: #000;
  text-align: center;
}

.socials a {
  margin: 0 10px;
  color: #0bd3c7;
  text-decoration: none;
}
.robot-gif {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  
}
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  
  .hero-content {
    margin-left: 0;
    width: 90%;
  }
  .hero h1 {
    font-size: 1.2rem;
  }
    
}