.home {
  background: #000;
  color: #e6f4f6;
  font-family: "Segoe UI", sans-serif;
}

/* HERO */

.hero {
  height: 90vh;
  
  background: radial-gradient(
    circle at center,
    rgb(4, 54, 61) 0%,
    rgba(0, 0, 0, 1) 70%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: row;
 
}
.robot-gif{
    width: 400px;
    height: 400px;
    margin-left: -10px;
  animation: floatUpDown 1s ease-in-out infinite;
}
.hero h1 {
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.hero p {

  margin: 15px 0;
  font-size: 1.2rem;
}

.hero-content {
  height: 300px;
  width: 650px;
  border-radius: 99px;
  margin-left: -70px;
  background:
    linear-gradient(rgb(4, 54, 61), #000) padding-box,
    linear-gradient(135deg, #0bd3c7, #053f48) border-box;

  border: 2px solid transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: floatUpDown 1.5s ease-in-out infinite;
}
@keyframes floatUpDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}
.cta-btn {
  padding: 12px 25px;
  border: none;
  background: #0bd3c7;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}



/* HIGHLIGHTS */
.highlights {
 background: radial-gradient(circle, #053f48, #000);
  padding: 0px;
  text-align: center;
}
.highlights h2 {
  margin-bottom: 30px;
}
.highlight-cards {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.highlight-card:hover {
  transform: translateY(-10px);
}


.highlight-card {
  background: #021c20;
  padding: 15px;
  
  border-radius: 10px;
  width: 300px;
  height:400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.highlight-card img{
 min-width: 90%;
 min-height: 50%;
  margin-top: 15px;
}
.descriptions{
  margin-top: 10px;
  font-size: 0.9rem;
  color:#0bd3c7
}
.learn-more {
  margin-bottom: -5px;
 text-decoration: underline;
  border: none;
  color: #3c6dd1;
  cursor: pointer;
}
/* EVENT */

.event {
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #053f48, #000);
}
.event-title {
  font-size: clamp(3rem, 6vw, 5.5rem); /* responsive big text */
  font-weight: 800;
  margin-bottom: 20px;
  color: #f5fffe;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: relative;
  
  /* soft glow */
  text-shadow: 
    0 0 10px rgba(245, 255, 254, 0.4),
    0 0 25px rgba(245, 255, 254, 0.2);
}
.event-subtitle {
  margin-top: -10px;
  font-size: 1.2rem;
  color: #c1eaea;
  margin-bottom: 40px;
  text-align: center;
}
.event-card {
  display: flex;
  
  margin: 10px;
  margin-left: 10%;
  border-radius: 15px;
}

.event-img {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  width: 300px;
  height:350px;
  margin: 30px;
}

.event-bg {
  position: absolute;
  inset: 0;               /* top:0 right:0 bottom:0 left:0 */
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: opacity 0.4s ease;
}
.event-content {
  position: relative;
  margin-top: 80px;
  z-index: 2;
  padding: 20px;
  color: #fff;
}
.event-img:hover .event-bg {
  opacity: 0.4;
  transform: scale(1.05);
}


.event-register{
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: #0bd3c7;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
/* ACHIEVEMENTS */
.achievements {
  padding: 60px;
  text-align: center;
}

.achievement-cards {
  display: flex;
  gap: 20px;
  margin: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.achievement-card {
  background: #032a30;
  padding: 20px;
  height:450px;
  width:400px;
  border-radius: 10px;
}

/* FOOTER */
.footer {
  padding: 30px;
  background: #000;
  text-align: center;
}

.socials a {
  margin: 0 10px;
  color: #0bd3c7;
  text-decoration: none;
}
.robot-gif {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  
}

/* Galler Section */
.carousel{
  margin:50px auto;
  width:95%;
  
  display: flex;
  overflow-x: auto;
  
}
.gallery{
  display:flex;
  margin-top: 40px;
  font-size: 3em;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
}
.carousel::-webkit-scrollbar{
  display: none;
}
.group{
  display:flex;
  gap:1em;
  align-items: center;
  justify-content: center;
  animation: spin 20s linear infinite;
  padding-right: 1em;
}
.card{
  flex:0 0 5em;
  height:5em;
  width: 0px;
  height:50vh;
  background:#e6f4f6;
  font-size: 3em;
  border-radius:.2em;
  text-align: center;
  align-content: center;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
}
.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  opacity:0.5;
}
@keyframes spin{
  from
  {
    translate:0;
  }
  to{
    translate:-100%;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  
  .hero-content {
    margin-left: 0;
    width: 90%;
  }
  .hero h1 {
    font-size: 1.2rem;
  }
  .event {
    flex-direction: column;
    align-items: center;
  }
  .event-card {
    flex-direction: column;
    align-items: center;
  }
  .event-img:hover .event-bg {
  opacity: 0.4;
  transform: scale(1.05);
}
 
}