/* import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}

body {
  font-family: "Montserrat", sans-serif;
  background: radial-gradient(
  circle,
  rgba(5, 63, 72, 1) 0%,
  rgba(2, 42, 48, 1) 45%,
  #000000 100%
);

}
nav {
  position:sticky;
  top: 0px;
  left: 0;          /* REQUIRED */
  width: 100%;      /* REQUIRED */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background: #032a30;
  z-index: 9999;    /* stay above everything */
}



label.logo {
  color: white;
  font-size: 25px;
  line-height: 80px;
  
  font-weight: bold;
}
nav ul {
  display: flex;
  
  gap: 15px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover {
  color:rgb(93, 162, 223);
  size: 1px;
  transition: .5s ease-out;
}
.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.logo-img {
  width: 120px;
  height: 80px;
  margin-left: 10%;
  margin-right: 10px;
  vertical-align: middle;
}
@media (max-width: 1050px) {
  label.logo {
    padding-left: 30px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
/* Responsive media query code for small screen */
@media (max-width: 890px) {
 
  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 50%;
    height: 100%;
    background: #032a30;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s ease;
    flex-direction: column;
    z-index: 998;
  }

  nav ul li {
    margin: 10px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
